.body {
    font-family: "Ubuntu", sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2vw;
}

.index_main {
    font-size: 3vw;
    font-weight: 700;
    margin-top: -1vw;
}

.additional {
    font-size: 1.5vw;
    font-weight: 400;
    max-width: 90vw;
    margin: 1vw auto;
    line-height: 1.5;
}

.title_man {
    opacity: 0;
    width: 90vw;
    border-radius: 1vw;
    margin-top: -2vw;
    max-width: 90vw;
    transition: opacity 1s ease-in-out;
}

@media (max-width: 768px) {
    .index_main {
        font-size: 1.5rem;
    }

    .additional {
        font-size: 1rem;
        max-width: 90%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.title_man.loaded {
    animation: fadeIn 1s ease-in-out forwards;
}