{% extends "layout.html" %}

{% block base %}
<link rel="stylesheet" href="../static/css/feedback.css">
{% endblock %}

{% block content %}

<script>
    function validate_form() {
        var name = document.getElementById('name').value
        var phone = document.getElementById('phone').value
        var city = document.getElementById('city').value
        var company = document.getElementById('company').value

        if (!name || !phone || !city || !company) {
            alert('Пожалуйста, заполните все поля формы.')
            return false
        } else {
            alert('Ваша заявка получена, скоро с вами свяжется наш представитель!')
        }
    }
</script>
</head>

<body>
    <div class="feedback">
        <h1 class="feedback_header">Укажите данные для обратной связи</h1>
        <br>
        <form class="feedback_form" action="/submit" method="post" onsubmit="return validate_form()">
            <label for="name">Ваше имя:&nbsp;&nbsp;</label>
            <input type="text" id="name" name="name"><br>
            <label for="phone">Телефон:&nbsp;&nbsp;</label>
            <input type="tel" id="phone" name="phone"><br>
            <label for="city">Город:&nbsp;&nbsp;</label>
            <input type="text" id="city" name="city"><br>
            <label for="company">Организация:&nbsp;&nbsp;</label>
            <input type="text" id="company" name="company"><br>
            <br>
            <input class="feedback_button btn-primary btn-lg rounded-pill" type="submit" value="Отправить">
        </form>
    </div>
    <script>
        window.addEventListener('load', function () {
            document.querySelector('.feedback_form').classList.add('loaded');
        });
    </script>
</body>
{% endblock %}