{% extends "layout.html" %}

{% block base %}
<link rel="stylesheet" href="../static/css/tech.css">
{% endblock %}

{% block content %}

<body>
    <div class="container-fluid">
        <br>
        <h1 class="tech_header">Проект «Pure Water Tech» - безоговорочно лучшая альтернатива обеспечения питьевой водой
            по сравнению с кулерами, диспансерами, картриджными и мембранными компактными установками.</h1>
        <div class="row">
            <div class="col-md-6">
                <p class="tech_text"> <br> 1. Система водоподготовки для получения питьевой воды проектируется,
                    комплектуется,
                    настраивается индивидуально для каждого объекта с учетом исходных данных (качество исходной воды,
                    режим водопотребления и пр.). <br>
                    2. Питьевая вода поступает потребителю круглосуточно, в неограниченном объеме. <br>
                    3. Себестоимость питьевой воды в десятки раз ниже по сравнению с себестоимостью воды получаемой в
                    других, вышеперечисленных вариантах. <br>
                    4. Питьевая вода сохраняет все необходимые для здоровья человека микроэлементы. <br>
                    5. Питьевая вода не получает вторичных химических и биологических загрязнений. <br>
                    6. Отсутствует вредный для здоровья человека активный хлор. <br>
                    7. В процессе водоподготовки исключен «человеческий фактор» способный пагубно повлиять на качество
                    питьевой воды. <br>
                    8. Питьевая вода в системе всегда свежая, холодная, приятная на вкус, полезная для здоровья человека
                    – не требует кипячения перед употреблением. <br>
                    9. Наличие систематического лабораторного контроля качества питьевой воды. <br>
                    10. Питьевая вода защищена от подделки. <br>
                    11. Питьевая вода соответствует нормам СанПин, имеет сертификат качества. <br></p>
            </div>
            <div class="col-md-6">
                <img class="tech float-right mt-0" src="../static/images/tech.png" alt="tech">
            </div>
        </div>
    </div>
    <script>
        window.addEventListener('load', function () {
            document.querySelector('.tech').classList.add('loaded');
        });
    </script>
</body>

{% endblock %}